@charset "ITF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    background-color: darkgray;
    min-height: 100vh;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 7vw;
}
header > p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
section{
    line-height: 2em;
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: cursive, sans-serif;
}
section > p{
    padding-bottom: 2em;
    font-size: 3.5vw;
    line-height: 1.7em;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(65, 63, 63);
    color: white;
    background-position: right center;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.486);
    background-attachment: fixed;
}
section.imagem > p{
    text-shadow: 1px 1px 0px black;
}
section#img1{
    background-image: url('../imagens/background001.jpg');
}
section#img2{
    background-image: url('../imagens/background002.jpg')
}
section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 5px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}